
<html>

<head>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />

</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <div class="container bg-light d-md-flex align-items-center">
    <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
      <div class="fw-bolder mb-4">
        <span class="fas fa-dollar-sign">
        </span><span class="ps-1">599,00</span>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between text">
          <span class="">Commission</span> <span class="fas fa-dollar-sign">
            <span class="ps-1">1.99</span>
          </span>
        </div>
        <div class="d-flex align-items-center justify-content-between text mb-4">
          <span>Total</span> <span class="fas fa-dollar-sign"><span class="ps-1">600.99</span></span>
        </div> <div class="border-bottom mb-4"></div> <div class="d-flex flex-column mb-4">
        <span class="far fa-file-alt text"><span class="ps-2">Invoice ID:</span></span>
        <span class="ps-3">SN8478042099</span> </div> <div class="d-flex flex-column mb-5">
        <span class="far fa-calendar-alt text"><span class="ps-2">Next payment:</span></span>
        <span class="ps-3">22 july,2018</span> </div> <div class="d-flex align-items-center justify-content-between text mt-5">
        <div class="d-flex flex-column text">
        <span>Customer Support:</span> <span>
          online chat 24/7</span> </div>
        <div class="btn btn-primary rounded-circle">
        <span class="fas fa-comment-alt"></span></div> </div>
      </div>
    </div> <div class="card box2 shadow-sm">
      <div class="d-flex align-items-center justify-content-between p-md-5 p-4">
    <span class="h5 fw-bold m-0" style="font-size:40px">Enter Credit Card</span> <div class="btn btn-primary bar">
        <span class="fas fa-bars"></span></div> </div> <ul class="nav nav-tabs mb-3 px-md-4 px-2">
        <li class="nav-item"> <a class="nav-link px-2 active" aria-current="page" href="#">Credit Card</a> </li>
        <li class="nav-item"> <a class="nav-link px-2" href="#">Banking Operations</a> </li>
        <li class="nav-item ms-auto">
          <a class="nav-link px-2" href="#">+ More</a>
        </li>
      </ul>
      <div class="px-md-5 px-4 mb-4 d-flex align-items-center">
        <div class="btn btn-success me-4">
          <span class="fas fa-plus">
          </span>
        </div> <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio1"><span class="pe-1">+</span>5949</label>
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2"><span class="lpe-1">+</span>3894</label>
        </div>
      </div> <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">

        <div class="row">
          <div class="col-12">
            <div class="d-flex flex-column px-md-5 px-4 mb-4">
              <span>Credit Card</span> <div class="inputWithIcon">
                <input class="form-control" type="text" #CardNumber="ngModel" [(ngModel)]="creditcardService.CreditCardCardNumberPin.CardNumber" name="CardNumber" placeholder="" >

                <span class="">
                  <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt="">
                </span>
              </div>
            </div>
          </div>
            <div class="col-md-6">
            <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4">
        <span>Code CVV</span> <div class="inputWithIcon">
                <input type="password" #pin="ngModel" class="form-control" placeholder="" [(ngModel)]="creditcardService.CreditCardCardNumberPin.Pin" name="Pin" value="Pin">





                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
         <div class="col-12 px-md-5 px-4 mt-3">
            <button class="btn btn-primary w-100" type="submit" [disabled]="form.invalid" style="font-size:30px">Enter the credit card</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>





<!--
<html>

<head>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />

</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <div class="container bg-light d-md-flex align-items-center">
    <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
      <div class="fw-bolder mb-4">
        <span class="fas fa-dollar-sign">
        </span><span class="ps-1">599,00</span>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between text">
          <span class="">Commission</span> <span class="fas fa-dollar-sign">
            <span class="ps-1">1.99</span>
          </span>
        </div>
        <div class="d-flex align-items-center justify-content-between text mb-4">
          <span>Total</span> <span class="fas fa-dollar-sign"><span class="ps-1">600.99</span></span>
        </div> <div class="border-bottom mb-4"></div> <div class="d-flex flex-column mb-4"> <span class="far fa-file-alt text"><span class="ps-2">Invoice ID:</span></span> <span class="ps-3">SN8478042099</span> </div> <div class="d-flex flex-column mb-5"> <span class="far fa-calendar-alt text"><span class="ps-2">Next payment:</span></span> <span class="ps-3">22 july,2018</span> </div> <div class="d-flex align-items-center justify-content-between text mt-5"> <div class="d-flex flex-column text"> <span>Customer Support:</span> <span>online chat 24/7</span> </div> <div class="btn btn-primary rounded-circle"><span class="fas fa-comment-alt"></span></div> </div>
      </div>
    </div> <div class="card box2 shadow-sm">
      <div class="d-flex align-items-center justify-content-between p-md-5 p-4"> <span class="h5 fw-bold m-0">Payment methods</span> <div class="btn btn-primary bar"><span class="fas fa-bars"></span></div> </div> <ul class="nav nav-tabs mb-3 px-md-4 px-2">
        <li class="nav-item"> <a class="nav-link px-2 active" aria-current="page" href="#">Credit Card</a> </li>
        <li class="nav-item"> <a class="nav-link px-2" href="#">Mobile Payment</a> </li>
        <li class="nav-item ms-auto">
          <a class="nav-link px-2" href="#">+ More</a>
        </li>
      </ul>
      <div class="px-md-5 px-4 mb-4 d-flex align-items-center">
        <div class="btn btn-success me-4">
          <span class="fas fa-plus">
          </span>
        </div> <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1"><span class="pe-1">+</span>5949</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2"><span class="lpe-1">+</span>3894</label>
        </div>
      </div> <form  #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">

    <div class="row">
    <div class="col-12"> <div class="d-flex flex-column px-md-5 px-4 mb-4">
      <span>Credit Card</span> <div class="inputWithIcon">
  <input class="form-control" type="text" #CardNumber="ngModel"  [(ngModel)]="creditcardService.CreditCardCardNumberPin.CardNumber" name="CardNumber" placeholder="Valid Card Number">

  <span class="">
    <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt="">
  </span>
</div> </div> </div>
    <div class="col-md-6"> <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4">
      <span>Expiration<span class="ps-1">Date</span></span> <div class="inputWithIcon">
      <input type="text" class="form-control" value="05/20">
    <span class="fas fa-calendar-alt"></span> </div> </div> </div> <div class="col-md-6">
    <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4">
    <span>Code CVV</span> <div class="inputWithIcon">
  <input type="password" #pin="ngModel" class="form-control" placeholder="CVC" [(ngModel)]="creditcardService.CreditCardCardNumberPin.Pin" name="Pin" value="123">





    <span class="fas fa-lock"></span>
  </div>
</div> </div>
    <div class="col-12"> <div class="d-flex flex-column px-md-5 px-4 mb-4">
      <span>Name</span> <div class="inputWithIcon">
      <input class="form-control text-uppercase" type="text" value="Name of owner">
      <span class="far fa-user"></span> </div> </div>
      </div> <div class="col-12 px-md-5 px-4 mt-3">
    <button class="btn btn-primary w-100" type="submit" [disabled]="form.invalid">Enter the credit card</button>
         </div> </div>
    </form>
    </div>
  </div>
</body>
</html>

-->
<!--
<html>


<head>
  <style>
    body {

      font-size:100px;
    }

    .text-center{

      font-size:100px;
    }
  </style>

</head>
<body>

<div class="container">
  <div class="page-header text-center">
    <h1>Credit Card </h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <h3 class="text-center">Enter your credit card </h3>
              <div class="inlineimage"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Discover-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/American-Express-Curved.png"> </div>
            </div>
          </div>
          <div class="panel-body">
            <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">

                    <div class="input-group">
                      <label>CARD NUMBER</label> <br /><input type="text" #CardNumber="ngModel" class="form-control" [(ngModel)]="creditcardService.CreditCardCardNumberPin.CardNumber" name="CardNumber" placeholder="Valid Card Number" />

                      <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>CV CODE</label><br />
                <input type="password" #pin="ngModel" class="form-control" placeholder="CVC" [(ngModel)]="creditcardService.CreditCardCardNumberPin.Pin" name="Pin" />
              </div>


              <div class="panel-footer">
                <div class="row">
                  <div class="col-xs-12">

                    <br />
                    <button style="background-color:darkorange; color:midnightblue; font-size:medium; position:center; height:30px; font-weight:30px" type="submit" [disabled]="form.invalid">Confirm Card</button>

                  </div>
                </div>
              </div>


            </form>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>

  </body>
</html>
  -->
